.cards{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(111, 111, 135);
    transition: all 0.4s;

}
.cards:hover {
    transform: scale(1.1);
}

@media (max-width:415px){
    .cards {
        width: 80%;
        margin-bottom: 2%;

        
        img { 
            width: 8%;

        }
        h3{
            font-size: 1em;

        }
        p{
            font-size: 0.8em;

        }
    }
    

}


@media (min-width:415px)and (max-width:912px){
    .cards {
        width: 80%;
        margin-bottom: 2%;
        margin-left: 1%;

        
        img { 
            width: 8%;

        }
        h3{
            font-size: 1em;

        }
        p{
            font-size: 0.8em;

        }
    }
    

}